.c-navbar{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    color: white;
    z-index: 112;
    font-weight: 500;
}
/* .c-navbar::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

.nav-link{
    color: white;
}
.nav-item a:hover{
color: white;
background-color: red;
border-radius: 4px;
transform: scale(1.1);

}
.c-navbar .nav-link{
    color: white;
}
.nav-item a{
  transition: 0.3s all;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding-left: 10px;
}
.is-sticky {
    background-color: white;
    height: 75px;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 12121212;
    transition: 0.3s all;

  }
 
  .rr{
    
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    /* background-color: red !important; */
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: 0.3s all;
   
  }
  .nav-link{
    color: white;
  }
  .rr .nav-link {
    color: white!important;
}
.is-sticky .nav-link {
    color: black!important;
}




/* .rr .rr .navbar-collapse .nav-item{
    color: black;
    
}
.navbar-collapse .nav-item{
    color: black;
    
} 

.is-sticky .navbar-collapse .nav-item{
  
    color: black;
    
}
.navbar-collapse .nav-item .nav-link{
  
    color: black!;
    
} */

